<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="sy.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menuName" property="menuname" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="INTEGER" />
    <result column="menuCode" property="menucode" jdbcType="VARCHAR" />
    <result column="menuUrl" property="menuurl" jdbcType="VARCHAR" />
    <result column="urlTarget" property="urltarget" jdbcType="VARCHAR" />
    <result column="navMenu" property="navmenu" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastUpdate" property="lastupdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menuName, parentId, menuCode, menuUrl, urlTarget, navMenu, sort, remark, createTime, 
    lastUpdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_app_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_app_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="sy.model.Menu" >
    insert into t_app_menu (id, menuName, parentId, 
      menuCode, menuUrl, urlTarget, 
      navMenu, sort, remark, 
      createTime, lastUpdate)
    values (#{id,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{menucode,jdbcType=VARCHAR}, #{menuurl,jdbcType=VARCHAR}, #{urltarget,jdbcType=VARCHAR}, 
      #{navmenu,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastupdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sy.model.Menu" >
    insert into t_app_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuname != null" >
        menuName,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="menucode != null" >
        menuCode,
      </if>
      <if test="menuurl != null" >
        menuUrl,
      </if>
      <if test="urltarget != null" >
        urlTarget,
      </if>
      <if test="navmenu != null" >
        navMenu,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="lastupdate != null" >
        lastUpdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuname != null" >
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="menucode != null" >
        #{menucode,jdbcType=VARCHAR},
      </if>
      <if test="menuurl != null" >
        #{menuurl,jdbcType=VARCHAR},
      </if>
      <if test="urltarget != null" >
        #{urltarget,jdbcType=VARCHAR},
      </if>
      <if test="navmenu != null" >
        #{navmenu,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdate != null" >
        #{lastupdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sy.model.Menu" >
    update t_app_menu
    <set >
      <if test="menuname != null" >
        menuName = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="menucode != null" >
        menuCode = #{menucode,jdbcType=VARCHAR},
      </if>
      <if test="menuurl != null" >
        menuUrl = #{menuurl,jdbcType=VARCHAR},
      </if>
      <if test="urltarget != null" >
        urlTarget = #{urltarget,jdbcType=VARCHAR},
      </if>
      <if test="navmenu != null" >
        navMenu = #{navmenu,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdate != null" >
        lastUpdate = #{lastupdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sy.model.Menu" >
    update t_app_menu
    set menuName = #{menuname,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=INTEGER},
      menuCode = #{menucode,jdbcType=VARCHAR},
      menuUrl = #{menuurl,jdbcType=VARCHAR},
      urlTarget = #{urltarget,jdbcType=VARCHAR},
      navMenu = #{navmenu,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastUpdate = #{lastupdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>